@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: 222 47% 11%;
	--primary-foreground: 210 40% 98%;
	--background: 0 0% 100%;
	--foreground: 222 47% 11%;
	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;
	--accent: 210 40% 96.1%;
	--accent-foreground: 222 47% 11%;
	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;
	--ring: 222.2 84% 4.9%;
}

@layer base {
	body {
		@apply bg-white text-neutral-900 antialiased;
		font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	}
}
